@tailwind base;
@tailwind components;
@tailwind utilities;

span{
    display: inline-block;
}
 @import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap'); 

 body{
    background-color: #1a1a1a;
    color: white;
 }